parameters:
	level: 8
	paths:
		- src
		- tests
	ignoreErrors:

	    -
	        message: '#Call to an undefined method Mockery.*#'
	        path: tests/*
	    -
	        message: '#Mockery\\LegacyMockInterface given\.$#'
	        path: tests/*
	    # can't find a regex that phpstan will accept to say "ends in blah-blah-blah"
	    #-
	        #message: '#.*does not accept Mockery\LegacyMockInterface\.$#'
	        #path: tests/*

